
.biografi {
    text-align: center;
    margin: auto;
    max-width: 700px;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 24px;
}

p {
    text-align: justify;
    font-size: 18px;
    margin: 50px 100px;
    line-height: 30px;
}